<%= link_to "Add a new Todo", new_todotask_path %>

<ul class="todos">
  <% @todos.each do |todo| %>
    <li class= "<%= "completed" if todo.completed? %>">
      <%= todo.title %>
      <%= link_to "done", todotask_completion_path(todo) %>
    </li>
  <% end %>
</ul>